* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
 body, html {
  height: 100%;
 }

 .wrapper {
  display: flex;
  height: 100%;
 }

.block-form {
  background-color: lightskyblue;
  width: 30%;
  height: 100%;

}

.block-parking {
  position: relative;
  background-color:lightgray;
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}



#cars {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 600px;
  background-color: rgba(200, 150, 140, 0.5);
}

.form-title {
  text-align: center;
  font-size: 40px;
  margin: 20px 0px;
  padding-bottom: 10px;
  border-bottom: 3px solid white;
 
}
.parking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.form-control {
  width: 70%;
  height: 30px;
}


.add-new-car-btn {
   height: auto;
   background-color: white;
   border-radius: 20px;
   border: none;
   padding: 20px;
   font-size: 20px;
   font-weight: 700;
   color: black;
   cursor: pointer;
   transition : 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.add-new-car-btn:hover, .add-new-car-btn:focus, .level-btn:hover, .level-btn:focus {
   background-color: black;
   color: white;
}

.level-btn-list {
  display: flex;
  column-gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

.level-btn {
  height: auto;
    background-color: yellow;
    border-radius: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: 700;
    color: black;
    cursor: pointer;
    transition: 300ms color cubic-bezier(0.075, 0.82, 0.165, 1), 300ms background-color cubic-bezier(0.075, 0.82, 0.165, 1);
}

.parking-area-img {
  display: block;
  width: 600px;
    height: 600px;
  border: 2px solid grey;
  border-radius: 10px;
  /* position: absolute;
  top: 5%;
  left: 5%; */
}



.level-btn.active {
      background-color: orangered;
}

.input-name {
  width: calc(70% - 10px);
  padding-left: 10px;
}



.car {
  position:absolute;
  top: 20px;
  left: 20px;
  width: 70px;
  height: 150px;
  /* background-color:deeppink; */
}

.header, .footer {
  position: relative;
  width: 100%;
 
}
.header {
  /* background-color: black; */
  height: 40px;
  border-bottom: 1px solid black;

}

.header::before, .header::after,
.footer::before,
.footer::after {
  content:'';
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: yellow;
}
.header::before {
  top: 0;
  left: 0;
  border-radius: 0px 0px 5px 0px;

}
.header::after {
  top: 0;
  right: 0;
  border-radius: 0px 0px 0px 5px;
}

.footer::before {
  bottom: 0;
  left: 0;
  border-radius: 0px 5px 0px 0px;

}
.footer::after {
  bottom: 0;
  right: 0;
  border-radius: 5px 0px 0px 0px;
}


.footer {
  /* background-color:midnightblue; */
  height: 30px;
}

.middle {
  position: relative;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid black;
}

.attr {
  position: absolute;
  width: 16px;
  height: 26px;
  top: calc(50% - 13px);
 left: calc(50% - 8px);
  background-color: grey;
}

.car.color-blueviolet {
  background-color:blueviolet;
}
.car.color-blue {
  background-color: blue;
}
.car.color-green {
  background-color: green;
}
.car.color-orange {
  background-color: orange;
}
.car.color-cyan {
  background-color:cyan;
}
.car.color-pink {
  background-color: deeppink;
}

.car.type-1 {
  height: 170px;
}
.car.type-1 .middle {
  height: 100px;
}

/* .car.type-2 {
transform: rotate(90deg);
} */

.car.type-2 .middle {
  height: 50px;
}
.car.type-2 .footer {
  height: calc(60px - 4px);
  background-color: darkgray;
  border: 2px solid;
  width: calc(70px - 4px);
}

/* .car.type-3 {} */

.car.car-rotate {
  transform: rotate(90deg);
}